html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #f9fafb
}

.image-container {
  position: relative;
  text-align: center;
}

img {
  display: block;
  width: max(200px, 37vw);
  height: 100vh;
}

.text-and-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 37vw;
  padding: 1vh 0 1vh 0;
}

div {
  margin: 0;
  padding: 0;
}

.logo {
  text-indent: -9999px;
  width: 10vw;
  height: 12vh;
  filter: invert(99%) sepia(12%) saturate(266%) hue-rotate(171deg) brightness(99%) contrast(94%);
}

.logo-text {
  font-size: 10vmin;
  font-family: 'Playfair Display', serif;
}

.credit {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cfcfcf;
  text-decoration: none;
}

.credit > a {
  text-decoration: underline;
  color: #cfcfcf;
}

.right-side-container {
  display: flex;
  flex-direction: column;
  padding: 12vh 0 12vh 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-text-container {
  padding: 0 15vw 0 4vw;
}

.main-text {
  font-weight: bold;
  font-size: 3vmin
}

.form-container {
  padding: 0 15vw 0 4vw;
  background-color: white;
  box-shadow: 0.25vmin 10px 15px rgba(48, 47, 47, 0.2);
  margin: 5vh 0;
}

.call-to-action {
  font-size: 2.5vmin;
  font-weight: 450;
}

p {
  margin: 20px 0;
}

form {
  display: flex;
}

form > div {
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
}

form > div > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
}

label {
  letter-spacing: 0.1rem;
  font-weight: 450;
}

input {
  border: 0.25vmin solid #ebecef;
  border-radius: 6px;
  font-size: 2.5vmin;
  background-color: rgb(253, 253, 253);
}

input:focus {
  border-color: #1d4ed8;
  outline: none;
  box-shadow: 5px 5px 7px rgba(48, 47, 47, 0.2);
}

.error-message {
  display: none;
  font-weight: bold;
  color: #D55C5F;
}

.account {
  padding: 0 15vw 0 4vw;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #D55C5F;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
	display: block;	
}

.create-account {
  padding: 1.5vmin 6vmin;
  border-radius: 7px;
  background-color: #596d48;
  border: none;
  color: #f9f9f8;
  font-size: calc(12px + 0.5vmin);
  font-weight: 600;
  box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vmin;
}

.log-in {
  color: #596d48;
  text-decoration: none;
}

